*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-family: "Montserrat", sans-serif;
    color: white;
}

:root {
    --mercury: #e8927c;
    --venus: #b45d15;
    --earth: #26daaa;
    --mars: #e55f45;
    --jupiter: orange;
    --saturn: #b29d81;
    --uranus: #8dcdd8;
    --neptune: #4f83e2;
    --pluto: #fccfba;
}

#root {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: black;
}

button {
    background-color: transparent;
    border: 1px solid white;
}

header {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.slider-container {
    position: absolute;
    bottom: -5vh;
    left: 0;
    display: flex;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.slider {
    z-index: 1;
    height: 32vw;
    padding-left: 25vw;
    padding-right: 25vw;
    gap: 50vw;
    --slider-index: 0;
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    transform: translateX(calc(var(--slider-index) * -100%));
    transition: transform 3.5s ease-in-out;
    position: relative;
    filter: brightness(85%);
}

.test {
    height: 25vw;
    width: 50vw;
    border-radius: 37.5vw 37.5vw 0 0;
    overflow: hidden;
    position: relative;
}

.mercury {
    background: linear-gradient(to top, black, var(--mercury));
    box-shadow: 0px -2px 20px 5px var(--mercury);
    transition: box-shadow 2s ease-in-out;
}

.mercury:hover {
    box-shadow: 0px -2px 7vh 5px var(--mercury);
}

.venus {
    background: linear-gradient(to top, black, var(--venus));
    box-shadow: 0px -2px 20px 5px var(--venus);
}

.earth {
    background: linear-gradient(to top, black, var(--earth));
    box-shadow: 0px -2px 20px 5px var(--earth);
}

.mars {
    background: linear-gradient(to top, black, var(--mars));
    box-shadow: 0px -2px 20px 5px var(--mars);
}

.jupiter {
    background: linear-gradient(to top, black, var(--jupiter));
    box-shadow: 0px -2px 20px 5px var(--jupiter);
}

.saturn {
    background: linear-gradient(to top, black, var(--saturn));
    box-shadow: 0px -2px 20px 5px var(--saturn);
}

.uranus {
    background: linear-gradient(to top, black, var(--uranus));
    box-shadow: 0px -2px 20px 5px var(--uranus);
}

.neptune {
    background: linear-gradient(to top, black, var(--neptune));
    box-shadow: 0px -2px 20px 5px var(--neptune);
}

.pluto {
    background: linear-gradient(to top, black, var(--pluto));
    box-shadow: 0px -2px 20px 5px var(--pluto);
}

.planet-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 25vw;
    position: absolute;
    bottom: 25vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}
