*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-family: "Montserrat", sans-serif;
    color: white;
}

:root {
    --mercury: #e8927c;
    --venus: #b45d15;
    --earth: #26daaa;
    --mars: #e55f45;
    --jupiter: orange;
    --saturn: #eee76b;
    --uranus: #8dcdd8;
    --neptune: #794fe2;
    --pluto: #fccfba;
}

#root {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: black;
}

header {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.app-title {
    text-align: center;
}

.planet-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding-top: 2rem;
}

.planet-description {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5rem;
}

header,
.planet-title,
.planet-description {
    position: relative;
    z-index: 5;
}

.slider-container {
    position: absolute;
    bottom: -5vh;
    left: 0;
    display: flex;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.slider {
    z-index: 1;
    height: 32vw;
    padding-left: 25vw;
    padding-right: 25vw;
    gap: 50vw;
    --slider-index: 0;
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    transform: translateX(calc(var(--slider-index) * -100%));
    transition: transform 3.5s ease-in-out;
    position: relative;
    filter: brightness(85%);
}

.move-left,
.move-right {
    cursor: pointer;
    position: absolute;
    z-index: 9;
    width: 50px;
    bottom: 2rem;
    transition: transform 0.3s ease-in-out;
}

.move-left:hover,
.move-right:hover {
    transform: scale(1.3);
}

.move-left {
    left: 2rem;
}

.move-right {
    right: 2rem;
}

.test {
    width: 50vw;
    aspect-ratio: 2 / 1;
    border-radius: 37.5vw 37.5vw 0 0;
    overflow: hidden;
    position: relative;
}

.mercury {
    background: linear-gradient(to top, black 25%, 75%, var(--mercury));
    box-shadow: 0px -2px 20px 5px var(--mercury);
    transition: box-shadow 2s ease-in-out;
}

.mercury:hover {
    box-shadow: 0px -2px 7vh 5px var(--mercury);
}

.venus {
    background: linear-gradient(to top, black 25%, 75%, var(--venus));
    box-shadow: 0px -2px 20px 5px var(--venus);
}

.earth {
    background: linear-gradient(to top, black 25%, 75%, var(--earth));
    box-shadow: 0px -2px 20px 5px var(--earth);
}

.mars {
    background: linear-gradient(to top, black 25%, 75%, var(--mars));
    box-shadow: 0px -2px 20px 5px var(--mars);
}

.jupiter {
    background: linear-gradient(to top, black 25%, 75%, var(--jupiter));
    box-shadow: 0px -2px 20px 5px var(--jupiter);
}

.saturn {
    background: linear-gradient(to top, black 25%, 75%, var(--saturn));
    box-shadow: 0px -2px 20px 5px var(--saturn);
}

.uranus {
    background: linear-gradient(to top, black 25%, 75%, var(--uranus));
    box-shadow: 0px -2px 20px 5px var(--uranus);
}

.neptune {
    background: linear-gradient(to top, black 25%, 75%, var(--neptune));
    box-shadow: 0px -2px 20px 5px var(--neptune);
}

.pluto {
    background: linear-gradient(to top, black 25%, 75%, var(--pluto));
    box-shadow: 0px -2px 20px 5px var(--pluto);
}

.sidebar {
    position: absolute;
    top: 0;
    height: 100%;
    width: 400px;
    background-color: rgb(255, 255, 255);
    z-index: 10;
    transition: right 0.5s ease-in-out;
    overflow-y: scroll;
}

.sidebar {
    color: black;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.sidebar div {
    color: rgb(26, 26, 26);
}

.sidebar img {
    width: 100%;
    height: auto;
}

.sidebar-backdrop {
    width: calc(100% - 400px);
    position: absolute;
    height: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 20;
    transition: bottom 0.5s ease-in-out;
}

.sidebar-planet-title {
    padding-top: 3rem;
    position: relative;
    font-size: 18px;
}

.planet-underline {
    position: absolute;
    bottom: -0.3rem;
    left: 0;
    background-color: black;
    height: 2px;
    width: 25px;
}

.close-menu {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: fit-content;
    cursor: pointer;
}

.close-menu svg {
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.close-menu svg:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

@media (max-width: 500px) {
    .sidebar {
        width: 100%;
    }
    .sidebar-backdrop {
        display: none;
    }
}
